<div class="modal" data-id="rules">
  <div class="wrapper">
    <div class="modal-content">
      <div class="modal-header">Правила</div>

      <div class="modal-body">
        <div class="tabs tabs-horizontal">
          <ul class="tab-links bg-green-i">
            <li><a href="#" data-id="#example-tab-1" class="tab-link active" rel="nofollow">Tab #1</a></li>
            <li><a href="#" data-id="#example-tab-2" class="tab-link" rel="nofollow">Tab #2</a></li>
            <li><a href="#" data-id="#example-tab-3" class="tab-link" rel="nofollow">Tab #3</a></li>
          </ul>

          <div class="tab-list">
            <div class="tab-id active" id="example-tab-1">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam aut consectetur dicta ea eligendi esse, magnam minima, odio perferendis quia saepe totam vitae. Eius facere magnam omnis provident vero.
            </div>
            <div class="tab-id" id="example-tab-2">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
            <div class="tab-id" id="example-tab-3">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, voluptate?
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-transparent" data-modal-close>Закрыть</button>
      </div>
    </div>
  </div>
</div>
