<div class="navbar bg-transparant">
	<div class="container">
  	<div class="navbar-wrapper">
      <div class="nav-left">
        <a class="nav-brand" href="/">{{globals.options.sitename}}</a>
        <a href="#" class="nav-mobile"><i class="fa fa-bars"></i></a>
      </div>

      <div class="nav-center"></div>

      <div class="nav-right">
        <ul class="navbar-menu">
          <li class="nav-li">
            <a class="nav-link" [routerLink]="['/']">Главная</a>
          </li>

          <li class="nav-li">
            <a class="nav-link" href="#" rel="nofollow" data-modal="rules">Правила</a>
          </li>

          <li class="nav-li">
            <a class="nav-link" href="#" rel="nofollow" data-modal="contacts">Контакты</a>
          </li>

          <li class="nav-li">
            <a class="nav-link" href="https://vk.com/qexyorg" target="_blank" rel="nofollow">Группа ВК</a>
          </li>

          <li class="nav-li">
            <a class="nav-link" href="https://vk.com/qexyorg" target="_blank" rel="nofollow">Тех.поддержка</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
