footer {
  padding: 40px 0;
  background-color: #fff;
}

footer .wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  align-items: center;
}

footer .wrapper > .block-right {
  text-align: right;
}

@media (max-width: 519px) {
  footer {
    padding: 20px 0;
  }

  footer .wrapper {
    grid-template-columns: 100%;
    grid-gap: 12px;
    text-align: center;
  }

  footer .wrapper > .block-right {
    text-align: center;
  }
}
