.container.home .sitename {
  padding: 80px 0 40px 0;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

.container.home .sitedesc {
  max-width: 600px;
  margin: auto;
  text-align: center;
  line-height: 32px;
  padding-bottom: 40px;
}

.container.home .online {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.container.home .online-players {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 40px;
  padding-top: 12px;
}

.container.home .start {
  padding-bottom: 120px;
}

.container.home .start .start-button {
  width: 400px;
  margin: auto;
  line-height: 64px;
  height: 64px;
  display: block;
  font-size: 16px;
  background-color: #4CAF50;
}

.content {
  background-color: #fff;
  padding: 40px 0;
  /*min-height: calc(100vh - 456px - 120px - 97px - 109px);*/
}

.content > .container .form-wrapper {
  margin: -80px auto 0 auto;
  width: 600px;
}

.content > .container .form-wrapper select,
.content > .container .form-wrapper input[type="text"] {
  line-height: 48px;
  height: 48px;
}

.content > .container .form-wrapper .input-block > label {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 767px) {
  .container.home .sitedesc,
  .container.home .start .start-button,
  .content > .container .form-wrapper{
    width: 100%;
  }

  .container.home .sitename {
    padding-top: 40px;
  }

  .container.home .start {
    padding-bottom: 80px;
  }

  .content {
    min-height: calc(100vh - 456px - 20px - 97px);
  }
}

@media (max-width: 519px) {

  .content {
    min-height: calc(100vh - 456px - 8px - 98px);
  }
}
