<div class="modal" data-id="contacts">
  <div class="wrapper">
    <div class="modal-content">
      <div class="modal-header">Контакты</div>

      <div class="modal-body">
        <div>E-Mail: <a href="mailto:admin@qexy.org" target="_blank" rel="nofollow">admin@qexy.org</a></div>
        <div class="pt-20">VK: <a href="https://vk.com/qexyorg" target="_blank">https://vk.com/qexyorg</a></div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-transparent" data-modal-close>Закрыть</button>
      </div>
    </div>
  </div>
</div>
